.footer{
    background-color: rgb(97, 14, 142);
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 1.3rem;
}