.listing_users_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5%;
    margin: 0;
    list-style: none;
    justify-content: center
        
}
.title_of_section{
  color: antiquewhite;
}

.user_card {
  flex: 1 1 45%;
  max-width: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 180px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .user_card {
    flex: 1 1 100%;
    max-width: 250px;
  }
}